<div class="container">
	{{outlet}}
</div>







<!--FOOTER -->

<div class="col-md-12 foot">
	<footer>
		<p style="text-align: center; background: #1a1a1a;color: white;">&copy; 2014 OgigaWebWorks, Inc.</p>
	</footer>
</div>
